.aboutNumberContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #eeeefa;
  padding: 100px 0;
}
.columnAbounNumber {
  background-color: #FFF;
  border: 4px solid #eeeefa;
  padding: 30px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.columnAbounNumber:hover {
  background-color: var(--btn-color);
  color: white !important;
}
.columnAbounNumber h4 {
  color: var(--orange-color);
  font-size: 60px;
  font-weight: bold;
}
.columnAbounNumber h6 {
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
}
.columnAbounNumber p {
  font-size: 20px;
}